.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding: 2vh 0;
  width: 80vw;
}


.Profile{
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.small_text{
  font-size:smaller;
  padding: 0 5vw;
}

.slider_host > div > div{
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  @media (max-width: 600px) {
    font-size: 4vw; 
  }
}
