.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding: 2vh 0;
  width: 80vw;
}


.Profile{
  width: 100%;
  max-width: 1024px;
}

.App-link {
  color: #61dafb;
}

.small_text{
  font-size:smaller;
  padding: 0 5vw;
}

.slider_host > div > div{
  overflow-y: scroll;
}

.profile-header{
  align-items: center;
}

.profile-pic{
  max-width: 250px;
  width: 20vw;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.no-wrap{
  text-wrap: nowrap;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
  margin: 15px;
}

.arrow:hover{
  border-color: yellow;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}